---
const date = new Date().getFullYear().toString();
---

<footer class="flex justify-center sticky top-[100vh] my-5 py-5">
  <small>
    Copyright &copy; <span id="copyright">{date}</span> | All right reserved
  </small>
</footer>
